<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='login.css'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <h1 id="heading1">Login Here</h1>
    <img src="logo1.jpg" alt="Login Logo" style="width:100px; height:100px;">
  <div>
      <form action="" class="myForm" name="myForm">
          <div class="input-container">
              <i class="fa fa-user icon"></i>
              <input type="text" placeholder="Username" name="username" class="input-field" required>
          </div>
          <div class="input-container">
             <i class="fa fa-key icon"></i>
             <input type="password" placeholder="Password" name="password" class="input-field"  required>
            </div>
         <div><input type="submit" class="bttn"></div>
      </form>
  </div>
</body>
</html>