{% extends "base.html" %} {% block content %}
<!-- end app-navbar -->
<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        {% for i in article %}
        <div class="container mt-3">
            <h2>{{i.title}}</h2>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="{{i.urlToImage}}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text">{{i.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- end container-fluid -->
    </div>
    <!-- end app-main -->
</div>
<!-- end app-container -->
<!-- begin footer -->

<!-- end footer -->
</div>
<!-- end app-wrap -->
</div>
<!-- end app -->

<!-- plugins -->
<script src="vendors.js"></script>

<!-- custom app -->
<script src="app.js"></script>
</body>

</html>
{% endblock %}